body {
    min-height: 100%;
    height: 100%;
    /*margin: 0px;*/
}

.clearfix:after {
    content:"";
    display: block;
    clear:both;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
/*wrapperクラスを中央よせ*/
}

/*header*/
.header {
    height: 100px;
    width: 400px;
    background-color: #141f40;
}
/*end of headercontente*/
.contents{
    position: relative;
}

/*main*/
.main{
    height: 250px;
    width:400px;
}

/*left*/
.left{
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

/*right*/
.right{
    float: right;
    width: 250px;
    height: 250px;
    background-color: #8c2727;
}

/*footer*/
.footer{
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}
