

/*スマホ用*/
@media screen and (max-width: 479px) {
  
    .wrapper {
        float: none;
        width: 200px; 
    }
    
     header {
         height: 200px;
         width: 200px;
     }
     .box {
         display: flex;
         flex-direction: column;
         align-items: center;
         position: absolute;
         margin: 20px 70px;
       
   }
     .box1,.box2,.box3 {
         box-sizing: content-box;
     }
     .box1 {
         border-width: 10px 10px 5px 10px;
     }
   
     .box2 {
         border-width: 5px 10px 5px 10px;
     }
   
     .box3 {
         border-width: 5px 10px 10px 10px;
     }
   
     .main {
         width: 200px;
     }
     .left {
         height: 100px;
         width: 200px;
     }
   
     .right {
         height: 210px;
         width: 200px;
     }
   
     .right-box {
         margin: 20px 30px;
    }
    
     footer {
         width: 200px;
     }
   
     
   }
   
   /* PC用*/
   @media screen and (min-width: 768px) {
   
   }
   